.tsViewer {
	width: 468px;
	overflow: hidden;
	box-shadow: 0 0 10px #00000031;
	.ts3index-viewer {
		border-radius: 5px;
		height: 700px;
		overflow: auto;
	}

	@media (max-width: 850px) {
		width: 100%;
	}
	@media (max-width: 550px) {
		.ts3index-stats {
			display: none !important;
		}
	}
}
